.game-container {
  display: flex;
  flex-direction: column;
  width: 488px;
}

.piece-position {
  border: 2px solid blue;
  background-color: white;
  border-radius: 45px;
  padding: 10px;
  height: 40px;
  width: 40px;
  font-size: x-small;
  cursor: pointer;
}

.piece-position:hover {
  background-color: lightblue;
}

.board-flex {
  background-color: blue;
  display: flex;
  flex-direction: row;
  border: 20px solid blue;
  justify-content: center;
}

.flex-row {
  display: flex;
}

.current-player {
  height: 75px;
  text-align: center;
  font-size: 40px;
  line-height: 75px;
}

.red-player {
  background-color: red;
  pointer-events: none;
}

.yellow-player {
  background-color: yellow;
  pointer-events: none;  
}
