
<div class="main-container">
  <div class="game-container">
    <div class="current-player" [class.red-player]="currentPlayer === 'red'"
      [class.yellow-player]="currentPlayer === 'yellow'">Current Player is: {{ currentPlayer }}
    </div>
    <div class="board-flex">
      <div *ngFor="let position of gameboard; let column = index">
        <div *ngFor="let rows of position; let row = index" class="flex-row">
          <div (click)="insertToken(column, row)" class="piece-position" [class.red-player]="position[row] === 'red'"
              [class.yellow-player]="position[row] === 'yellow'">{{ column }} {{ row }}
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button (click)="resetBoard()">Restart Game</button>
    </div>  
  </div>
</div>