
<div class="main-container">
  <div class="game-container">
    <div *ngIf="gameResult === ''" class="current-player" [class.red-player]="state.currentPlayer === 'Player Two'"
      [class.yellow-player]="state.currentPlayer === 'Player One'">Current Player is: {{ state.currentPlayer }}
    </div>
    <div *ngIf="gameResult !== ''" class="current-player winner">{{ gameResult }}
    </div>
    <div class="board-flex">
      <div *ngFor="let position of gameboard; let column = index">
        <div *ngFor="let rows of position; let row = index" class="flex-row">
          <div (click)="placePiece(column, row)" class="piece-position" [class.red-player]="position[row] === 'Player Two'"
              [class.yellow-player]="position[row] === 'Player One'">
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button (click)="resetGame()">Restart Game</button>
    </div>  
  </div>
</div>